.body-container__modes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 75%;
    height: 10vh;
}

.body-container__modes img {
    padding: 0 1rem 0 0;
}

.body-container__modes button  {
    color: #ffffff;
    background-color: #509CA9;
    border-radius: 3rem;
    width: 40%;
    height: 10vh;
    font-size: 2rem;
    margin: 0 1rem 0 1rem;
    padding: 0 2rem 0 2rem;
    transition: transform 0.3s ease, background-color 0.3s ease;
    border-color: transparent;
}

.body-container__modes button:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #67b8c5;
}

.body-container__modes button:active {
    transform: scale(0.95); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.body-container__modes-txt {
    font-family: "Kanit", serif;
    color: #ffffff;
    font-size: 1.5rem;
}