html {
    background-image: url(/assets/img/Background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
